@{
    ViewData["Title"] = "Hi, I'm Martin Kearn, an evangelist at Microsoft";
}

<div class="jumbotron">
    <div class="container">
        <h1>Hi, I'm Martin Kearn</h1>
        <p>I'm an evangelist at Microsoft</p>
        <p class="hidden-xs">I'm into Web, Cognitive, Office, Windows and Azure.</p>
        <p class="hidden-xs">I'm based near Birmingham, UK</p>
    </div>
</div>

<div class="container-fluid green-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2><a asp-controller="Speaking" asp-action="Index">Speaking</a></h2>
                <p>I speak at events such as conferences, meet-ups, user groups, Microsoft events etc.</p>
                <p>Find out where I'm speaking, what I speak about and how to get me to your event.</p>
                <a asp-controller="Speaking" asp-action="Index" class="btn btn-default btn-default">Learn more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4">
                <img src="~/images/audience.jpg" class="img-responsive hidden-xs" alt="Responsive image">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid lightblue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2><a asp-controller="Resources" asp-action="Index">Resources</a></h2>
                <p>I create lots of things which you can download, use, copy, change, or contribute to.</p>
                <p>This includes sample projects, slide decks, videos, articles.</p>
                <a asp-controller="Resources" asp-action="Index" class="btn btn-default btn-default">Learn more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4">
                <img src="~/images/code.jpg" class="img-responsive hidden-xs" alt="Responsive image">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid blue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2><a asp-controller="Blog" asp-action="Index">Blog</a></h2>
                <p>I create lots of things which you can download, use, copy, change, or contribute to.</p>
                <p>This includes sample projects, slide decks, videos, articles.</p>
                <a asp-controller="Blog" asp-action="Index" class="btn btn-default btn-default">Learn more <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-4">
                <img src="~/images/blog.jpg" class="img-responsive hidden-xs" alt="Responsive image">
            </div>
        </div>
    </div>
</div>


