@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Transition - vCard Theme</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
          asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
          asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <link href="~/css/component.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <script type="text/javascript" src="~/lib/modernizr/modernizr.custom.js"></script>

</head>
<body>

    <div class="">
        <div id="bl-main" class="bl-main">

            <!--=========== ABOUT SECTION ===========-->
            <section>
                <div class="bl-box">
                    <h2>Hi, my Name is Martin Kearn</h2> <!-- class="bl-icon bl-icon-about" -->
                </div>
                <div class="bl-content">
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

                </div>
                <span class="bl-icon bl-icon-close"></span>

            </section>



            <!--=========== PORTFOLIO SECTION ===========-->
            <section id="bl-work-section">
                <div class="bl-box">
                    <h2>Latests Works</h2> <!-- class="bl-icon bl-icon-works"-->
                </div>
                <div class="bl-content">
                    <h2>Some Recent Projects</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                    <p></p>
                    <p></p>
                    <div class="row-fluid">
                        <div class="span4">
                            <ul id="bl-work-items" style="list-style: none;">
                                <li data-panel="panel-1"><a href="#"><img src="images/project1.jpg" /></a></li>
                            </ul>
                            <p>Project Number 1</p>
                        </div><!-- /span4 -->
                        <div class="span4">
                            <ul id="bl-work-items">
                                <li data-panel="panel-2"><a href="#"><img src="images/project2.jpg" /></a></li>
                            </ul>
                            <p>Project Number 2</p>
                        </div><!-- /span4 -->
                        <div class="span4">
                            <ul id="bl-work-items">
                                <li data-panel="panel-3"><a href="#"><img src="images/project3.jpg" /></a></li>
                            </ul>
                            <p>Project Number 3</p>
                        </div><!-- /span4 -->
                    </div><!-- /row-fluid -->
                </div><!-- /bl-content -->
                <span class="bl-icon bl-icon-close"></span>
            </section>



            <!--=========== BLOG SECTION ===========-->
            <section>
                <div class="bl-box">
                    <h2>My deepest thoughts</h2>
                </div>
                <div class="bl-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <h2>Latest Blog Entry</h2>
                            <article>
                                <h3>Expanding Your Horizons</h3>
                                <img src="images/blogentry.jpg" alt="">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<a href="#">Read more</a></p>
                            </article>
                            <hr>
                            <h2>Other Entries</h2>
                            <article>
                                <h3>Blog Post 1</h3>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
                            </article>
                            <article>
                                <h3>Blog Post 2</h3>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
                            </article>
                            <article>
                                <h3>Blog Post 3</h3>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text.... <a href="#">Read more</a></p>
                            </article>

                        </div><!-- /span12 -->
                    </div><!-- /row-fluid -->
                </div><!-- /bl-content -->
                <span class="bl-icon bl-icon-close"></span>
            </section>



            <!--=========== CONTACT SECTION ===========-->
            <section>
                <div class="bl-box">
                    <h2>Contact Me</h2>
                </div>
                <div class="bl-content">
                    <div class="row-fluid">
                        <div class="span12">
                            <h2>Get in touch</h2>
                            <br>
                            <p>I am available for freelance jobs. Please contact me and send me your questions and inquiries.</p>

                            <p>your@email.com | +34 600669933 | Madrid, Spain</p>

                            <p>
                                <a href="#" class="social-network facebook"></a>
                                <a href="#" class="social-network pinterest"></a>
                                <a href="#" class="social-network flickr"></a>
                                <a href="#" class="social-network dribbble"></a>
                                <a href="#" class="social-network twitter"></a>
                                <a href="#" class="social-network apple"></a>
                                <a href="#" class="social-network skype"></a>
                                <a href="#" class="social-network tumblr"></a>
                                <a href="#" class="social-network vimeo"></a>
                            </p>

                        </div>
                    </div>
                    <span class="bl-icon bl-icon-close"></span>
                </div>
            </section>




            <!--=========== PROJECTS DESCRIPTIONS SECTION ===========-->
            <div class="bl-panel-items" id="bl-panel-work-items">
                <div data-panel="panel-1">
                    <div class="row-fluid">
                        <div class="span8 offset2 tweak">
                            <img src="images/project1.jpg" />
                            <br>
                            <br>
                            <h4>Project Overview</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h4>Project Details</h4>
                            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div><!-- /span8 -->
                    </div><!-- /row-fluid -->
                </div><!-- /panel1 -->

                <div data-panel="panel-2">
                    <div class="row-fluid">
                        <div class="span8 offset2 tweak">
                            <img src="images/project2.jpg" />
                            <br>
                            <br>
                            <h4>Project Overview</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h4>Project Details</h4>
                            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div><!-- /span8 -->
                    </div><!-- /row-fluid -->
                </div><!-- /panel2 -->

                <div data-panel="panel-3">
                    <div class="row-fluid">
                        <div class="span8 offset2 tweak">
                            <img src="images/project3.jpg" />
                            <br>
                            <br>
                            <h4>Project Overview</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <h4>Project Details</h4>
                            <p>When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div><!-- /span8 -->
                    </div><!-- /row-fluid -->
                </div><!-- /panel3 -->

                <nav>
                    <span class="bl-next-work">&gt; Next Project</span>
                    <span class="bl-icon bl-icon-close"></span>
                </nav>
            </div><!-- /panel-items -->


        </div><!-- /bl-main -->
    </div> <!-- /container -->


    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
    </script>
    <script src="~/lib/boxlayout/boxlayout.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <script>
			$(function() {
				Boxlayout.init();
			});
    </script>
</body>
</html>
