@{
    ViewData["Title"] = "Speaking";
}

<div class="jumbotron jumbotron-speaking">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I speak at events of all sizes, it's pretty much my job.</p>
        <p>Conferences, meet-ups, user groups, events.</p>
    </div>
</div>

<div class="container-fluid green-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>I'll come to your event</h2>
                <p>I speak at events such as conferences, meet-ups, user groups, Microsoft events etc.</p>
                <p>If you want me to come to your event, please <a href="mailto:martin.kearn@microsoft.com?Subject=Enquiry%20from%20Martink.me">email me</a> or <a href="https://twitter.com/MartinKearn">tweet me</a> and we can sort the details.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid lightblue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Talks</h2>
                <p>I’m happy to speak at pretty much any developer event. Here are a few topics that I’m talking about at the moment and can delivery with hardly any notice, but if you have a specific topic feel free to ask me.</p>
                <ul>
                    <li><a href="#" data-toggle="modal" data-target="#hybrid-modal">The Murky World of Hybrid Apps</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#mlmuggles-modal">Machine Learning for Muggles</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#office-modal">The Office Developer Landscape</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#api-modal">APIs: The cogs behind the machine</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#webappsazure-modal">Running Web Apps in Azure</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#performance-modal">Web Performance</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#edge-modal">Microsoft Edge for Web Developers</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#jstaskrunnersaspnet-modal">Building with JavaScript Task Runners (ASP.NET version)</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#jstaskrunnersjs-modal">Building with JavaScript Task Runners (JavaScript version)</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#functions-modal">Smart image resizing with Azure Functions</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#taghelpers-modal">Telling the time with ASP.Net Tag Helpers</a></li>
                </ul>

                <!-- hybrid Modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "hybrid-modal",
               Title = "The Murky World of Hybrid Apps",
               Abstract = "Which is best … apps or web? Why not have both?   The lines are getting increasingly blurred between the web and native apps. Operating systems are able to execute JavaScript from a remote web server, web apps are able to reach into your documents and fiddle around with them, you can wrap your website with rich, native functionality. In this talk we'll look at the murky and confusing world of hosted hybrid web apps. We'll look at the different tools available for creating hosted hybrid apps on multiple platforms. We'll look at where hosted hybrid apps work well and where they don't",
               Technologies = "ManifoldJs, Windows 10 UWP, Office Add-ins, W3C Web App Manifest",
               Audience = "Web Developers, Mobile App Developers, all levels",
               Time = "20 > 45 minutes"
           })

                <!-- mlmuggles Modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "mlmuggles-modal",
               Title = "Machine Learning for Muggles",
               Abstract = "Artificial Intelligence is the latest hotness. We’ve heard how bots are going to be the new apps allowing natural conversational interfaces. Siri, Cortana and Google Now are no longer a gimmick and are becoming more useful every day. Machine Learning sits behind artificial intelligence and on the surface it may seem like a deeply technical, scientific topic. We are here to tell you that it is more accessible than you think. We’ll look at some of the basics around machine learning. We’ll also look some of the API services that make it very easy to implement artificial intelligence ‘smarts’ into your application with simple, standard REST calls",
               Technologies = "Azure Machine Learning, Microsoft Cognitive Services",
               Audience = "Web Developers, Mobile App Developers, all levels",
               Time = "20 > 45 minutes"
           })

                <!-- office-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "office-modal",
               Title = "The Office Developer Landscape",
               Abstract = "Did you know that Office has an app store? It does and it is very easy to build powerfull 'add-ins' for both Office and SharePoint built on web technologies. Office 365 also has a very powerfull graph api which you can use in any app platform. In this talk we'll take a tour around the Ofice developer landscape, look at some examples and build our own Office add-in",
               Technologies = "Office Add-ins, Office 365 Unified API",
               Audience = "Web Developers, Mobile App Developers, all levels",
               Time = "20 > 45 minutes"
           })

                <!-- api-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "api-modal",
               Title = "APIs: The cogs behind the machine",
               Abstract = "Use of REST APIs is a key pattern for building modern, scalable, well architected sites and apps. In this talk we’ll cover the core principles of REST and how ASP.net Web API applies those principles to create powerful, rich APIs that can be called by any client. We’ll look at building an API with Entity Framework and calling it from a web application, Office application and Windows 10 application.",
               Technologies = "ASP.Net Web Api",
               Audience = "Web Developers, beginners",
               Time = "20 > 45 minutes"
           })

                <!-- webappsazure-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "webappsazure-modal",
               Title = "Running web apps in Azure",
               Abstract = "A beautifully written app that only exists on your dev machine is entirely useless; at some point you are going to have to deploy it so users can access it. In this talk we’ll discuss the Azure App Service which is a set of low cost, highly scalable PaaS services for running web, mobile, api and logic apps in the cloud. The Azure App Service represents the best in class PaaS offering for hosting your apps without needing to care about servers or any of the hassle that comes with them.",
               Technologies = "Azure App Service",
               Audience = "Web Developers, all levels",
               Time = "30 minutes"
           })

                <!-- performance-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "performance-modal",
               Title = "Web Tuning & Performance",
               Abstract = "Performance matters … it really matters. A poor performing website will suffer low conversions, penalised search ranking and shocking bounce rates. Thankfully, it is easy to fix with a few simple optimisations which reduce both the volume and the size of requests you are asking the browser to make. In this talk we’ll go through some platform agnostic tips and tricks to help you tune and optimise your website to perform like a thoroughbred.",
               Technologies = "Technology agnostic",
               Audience = "Web Developers, intermediate",
               Time = "30 minutes"
           })

                <!-- edge-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "edge-modal",
               Title = "Microsoft Edge for Web Developers",
               Abstract = "Microsoft Edge is a whole new browser, built by Microsoft for the modern web. Edge is not IE12, it is a big change in direction for Microsoft and represents a great opportunity for web developers. In this talk we’ll learn about what Edge is and why Microsoft built it. We’ll look at the compatibility and interoperability work we have done in Edge. We’ll also look at the tools and resources you have available to you to test your site and make it rock in Edge.",
               Technologies = "Microsoft Edge",
               Audience = "Web Developers, all levels",
               Time = "30 > 45 minutes"
           })

                <!-- jstaskrunnersaspnet-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "jstaskrunnersaspnet-modal",
               Title = "Building with JavaScript Task Runners (ASP.NET version)",
               Abstract = "One of the key new things in ASP.net is the use of JavaScript task runners to automate build processes. To the uninitiated, the idea of writing JavaScript to manage your build can be an odd concept, but it is actually very simple. In this talk we will cover task runners in general; why exist, what problems they solve. We’ll drill into the two big boys; Grunt and Gulp and spend a bit of time looking at how Gulp works in ASP.net Core 1.0.",
               Technologies = "Gulp, JavaScript, ASP.Net Core",
               Audience = "ASP.NET Web Developers, beginners",
               Time = "30 minutes"
           })

                <!-- jstaskrunnersjs-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "jstaskrunnersjs-modal",
               Title = "Building with JavaScript Task Runners (JavaScript version)",
               Abstract = "JavaScript task runners automate build processes in web applications. To the uninitiated, the idea of writing JavaScript to manage your build can be an odd concept, but it is actually very simple. In this talk we will cover task runners in general; why exist, what problems they solve. We’ll drill into the two big boys; Grunt and Gulp and spend a bit of time looking at how Gulp works in a static HTML web application",
               Technologies = "Gulp, JavaScript",
               Audience = "Web Developers, beginners",
               Time = "30 minutes"
           })

                <!-- functions-modal-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "functions-modal",
               Title = "Smart image resizing with Azure Functions",
               Abstract = "Azure Functions are one of the newest features in the Azure world; they are simply a way to execute code in the cloud. They can be triggered in all sorts of ways and can execute C# or JavaScript code. In this talk we'll look at Azure Functions and work through a smart image resizing solution based on Azure Functions and Microsoft Cognitive Services",
               Technologies = "Azure Functions, C#, JavaScript, Cognitive Services",
               Audience = "Web Developers, all levels",
               Time = "15 > 30 minutes"
           })

                <!-- taghelpers-modal -->
                @await Html.PartialAsync("_TalkModalPartial", new MartinKMe.ViewModels.Shared.TalkModalViewModel()
           {
               ElementId = "taghelpers-modal",
               Title = "Telling the time with ASP.NET Tag Helpers",
               Abstract = "Tag Helpers are a new feature to ASP.NET core and they are a simple syntactical sugar which make your razor code much prettier and nicer to work with. In this talk we'll look at what Tag Helpers are, explore the default ones and build our own that convers EPOCH time string to human-readable date/time strings",
               Technologies = "ASP.NET",
               Audience = "ASP.NET Web Developers, beginners",
               Time = "15 > 30 minutes"
           })



            </div>
        </div>
    </div>
</div>

<div class="container-fluid blue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Bio</h2>
                <p>Here is my bio in various formats:</p>
                <ul>
                    <li><strong>Third Person</strong>: Martin is a technical evangelist for Microsoft based in the UK. In his role, Martin talks with customers, partners, start-ups and anyone who is willing to listen about developing applications on the Microsoft platform. This includes Windows, Office, Microsoft Azure and Web technologies including ASP.net and the Edge browser. Martin has been working with Microsoft development technologies since the late 90's and has been working for Microsoft directly since 2005.</li>
                    <li><strong>First Person</strong>: I am a technical evangelist for Microsoft based in the UK. In my work, I talk with customers, partners, start-ups and anyone who is willing to listen about developing applications on the Microsoft platform. This includes Windows, Office, Microsoft Azure and Web technologies including ASP.net and the Edge browser. I have been working with Microsoft development technologies since the late 90's and has been working for Microsoft directly since 2005.</li>
                    <li><strong>Short</strong>: Martin works for Microsoft as an evangelist. He's into Web, AI, Mobile Apps and Cloud.</li>
                </ul>

                <p>A few mug shots you can use to advertise your event</p>
                <div class="row">
                    <div class="col-md-3">
                        <a href="~/images/MartinKearnProfile1.jpg" download><img src="~/images/MartinKearnProfile1.jpg" class="img-responsive profile-photo" alt="Martin Kearn profile picture 1"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="~/images/MartinKearnProfile2.jpg" download><img src="~/images/MartinKearnProfile2.jpg" class="img-responsive profile-photo" alt="Martin Kearn profile picture 2"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="~/images/MartinKearnProfile3.png" download><img src="~/images/MartinKearnProfile3.png" class="img-responsive profile-photo" alt="Martin Kearn profile picture 3"></a>
                    </div>
                    <div class="col-md-3">
                        <a href="~/images/MartinKearnProfile4.jpg" download><img src="~/images/MartinKearnProfile4.jpg" class="img-responsive profile-photo" alt="Martin Kearn profile picture 4"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
