@foreach (var tag in Tags)
{
    <span class="badge rounded-pill text-bg-secondary"><a href="/tags/@tag">#@tag</a> </span>
}

@code {
    [Parameter]
    public string Categories { get; set; }

    private List<string> Tags = new List<string>();

    protected override void OnInitialized()
    {
        Categories = Categories.TrimEnd(',');
        var cats = Categories.Split(',');
        foreach (var cat in cats)
        {
            var tag = FormatCategoryToTag(cat);
            Tags.Add(tag);
        }
    }

    private string FormatCategoryToTag(string category)
    {
        var tag = category.Replace(' ', '-');
        tag = tag.ToLowerInvariant();
        return tag;
    }
}