@inject Microsoft.Extensions.Options.IOptions<PersonaliseOptions> opt
@model MartinKMe.Models.ArticlesViewModels.ArticleViewModel

@{
    ViewData["Title"] = Model.Article.Title;
}

<div class="jumbotron jumbotron-speaking">
    <div class="container">
        <h1>@Model.Article.Title</h1>
        <p>@Model.Article.Description</p>
        <p>This article is about 
        @foreach (var cat in Model.Article.Categories)
        {
            <span>@cat </span>
        }
        </p>
        <p>Last updated on @Model.Article.Published.ToString("dddd dd MMM yyyy")</p>
    </div>
</div>

<div class="container article-container">
    @Model.Html
</div>

<div class="container-fluid ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a asp-controller="articles" asp-action="Index" class="btn btn-primary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> See all articles</a>
            </div>
        </div>
    </div>
</div>