@{
    ViewData["Title"] = "Articles";
}

<div class="jumbotron jumbotron-articles">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I adopt a 'learn in public' approach to blogging.</p>
        <p>Whenever I learn something new, I try to capture it in a blog article.</p>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
