@model MartinKMe.Models.TalksViewModels.EditViewModel

@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit</h2>
                <h4>Talk</h4>
                <hr />

                <div>

                    <form asp-action="Edit">
                        <div class="form-horizontal">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Talk.Title" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Talk.Title" class="form-control" />
                                    <span asp-validation-for="Talk.Title" class="text-danger" />
                                </div>
                            </div>
                            <input type="hidden" asp-for="Talk.Id" />
                            <div class="form-group">
                                <label asp-for="Talk.Audience" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input class="form-control" asp-for="Talk.Audience" />
                                    <span asp-validation-for="Talk.Audience" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Talk.Description" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <textarea class="form-control" asp-for="Talk.Description" rows=5></textarea>
                                    <span asp-validation-for="Talk.Description" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Talk.Technologies" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Talk.Technologies" class="form-control" />
                                    <span asp-validation-for="Talk.Technologies" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Talk.Time" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Talk.Time" class="form-control" />
                                    <span asp-validation-for="Talk.Time" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Talk.Url" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Talk.Url" class="form-control" />
                                    <span asp-validation-for="Talk.Url" class="text-danger" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>

                <hr />

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
