@model EvangelistSiteWeb.Models.Event


@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit</h2>

                <form asp-action="Edit">
                    <div class="form-horizontal">
                        <h4>Event</h4>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Conference" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Conference" class="form-control" />
                                <span asp-validation-for="Conference" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Date" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExternalUrl" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="ExternalUrl" class="form-control" />
                                <span asp-validation-for="ExternalUrl" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="InternalUrl" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="InternalUrl" class="form-control" />
                                <span asp-validation-for="InternalUrl" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Talk" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Talk" class="form-control" />
                                <span asp-validation-for="Talk" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </form>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

