@page "/articles/{articleWebPath}"
@inject IStorageService StorageService

<PageTitle>@article.Title</PageTitle>

<HeaderComponent 
    H1=@article.Title 
    Line1=@article.Published.ToLongDateString()
    Line2=@article.Description 
    Line3=@articleGitHubUrlText 
    Tags=@article.Categories />

<div class=article-container>
    <div class="container">@((MarkupString)articleContents)</div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/articles" class="btn btn-secondary"><i class="fa fa-angle-double-left" aria-hidden="true"></i> See all articles</a>
            </div>
        </div>
    </div>
</div>

<div class="comment-container sequence-background-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Got a comment?</h2>
                <p>All my articles are written and managed as Markdown files on <a href="https://github.com/martinkearn/Content/tree/master/Blogs"><i class="fa fa-github fa-lg" aria-hidden="true"></i> GitHub</a>.</p>
                <p>Please add an issue or submit a pull request if something is not right on this article or you have a comment.</p>
                <p>If you'd like to simply say "thanks", then please send me a <a href="https://twitter.com/MartinKearn"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>.</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string ArticleWebPath { get; set; }

    private Article article;

    private string articleContents;

    private string articleGitHubUrlText;

    protected override async Task OnInitializedAsync()
    {
        // Get article
        article = StorageService.GetArticlesByProperty("WebPath", ArticleWebPath).FirstOrDefault();
        if (article == default)
        {
            throw new NullReferenceException($"No article with WebPath {ArticleWebPath}");
        }

        // Get article contents
        articleContents = await StorageService.GetBlobContent(article.HtmlBlobFileName);
        articleGitHubUrlText = $"This article was published at <a href='{article.GitHubUrl}'><i class='fa fa-github fa-lg' aria-hidden='true'></i> GitHub</a>. It is open source and you can make edits, comments etc.";
    }
}