@page "/"
@inject IStorageService StorageService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. @Foo

@code {
    private string Foo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        Foo = StorageService.Heartbeat();
    }
}