@page "/"
@using Domain.Models
@inject IStorageService StorageService

<PageTitle>Index</PageTitle>

<h1>Heading 1</h1>

@foreach (Article article in articles)
{
    <p><a href="/articles/@article.WebPath">@article.Title - @article.Published</a></p>
}

@code {
    private List<Article> articles = new List<Article>();

    protected override void OnInitialized()
    {
        articles = StorageService.QueryArticles(string.Empty);
    }
}