@page "/"
@inject IStorageService StorageService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. 

@foreach (var article in articles)
{
    <p>@article.Title</p>
}

@code {
    private List<Article> articles = new List<Article>();

    protected override async Task OnInitializedAsync()
    {
        articles = StorageService.QueryArticles(string.Empty);
    }
}