@{
    ViewData["Title"] = "Links";
}

<div class="jumbotron jumbotron-resources">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>I create lots of stuff which you can use, copy, change, contribute to.</p>
        <p>Slides, videos, repos, articles, apps.</p>
    </div>
</div>

<div class="container-fluid green-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>HowHappy.co.uk</h2>
                <p>An ASP.Net web application that uses the Cognitive Services Emotion API to asses various emotions shown in a group photo and put them in sequence. Yo can use this to find out who is the most and least happy, sad, angry etc in a group photo.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/HowHappy.png" class="img-responsive hidden-xs" alt="A screen shot of HowHappy.co.uk">
            </div>
            <div class="col-md-8">

                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-globe" aria-hidden="true"></i> <strong><a href="http://howhappy.co.uk">HowHappy.co.uk</a></strong> A live website you can explore and test with your own photos</li>
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/03/22/introducing-howhappy-co-uk/">Introducing HowHappy.co.uk</a></strong> An article which talks through how HowHappy.co.uk was developed</li>
                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/How-Happy">How-Happy GitHub</a></strong> The GitHub repository contianing the source code behind the live HowHappy.co.uk website</li>
                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/How-happy-are-you">How happy are you?</a></strong> Web hack Wednesday. This week Martin and Martin look at building an ASP.NET Core website that uses Microsoft Cognitive services to determine the emotions of faces in a picture</li>
                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/How-Happy-Are-You-Cordova-Edition">How Happy Are You? Cordova Edition</a></strong> Web hack Wednesday. This week Martin and Martin look at building an Apache Cordova app that uses Microsoft Cognitive services to determine the emotions of faces in a picture. The app uses Ionic for the UI.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mustard-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Sentimental and Hybrid Apps</h2>
                <p>An ASP.Net web application that use the Cognitive Services Text Analysis API to analys sentiment and extract key phrases in text. This website is used to create hybrid application on Windows, IOS, Android and Office.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/Sentimental.png" class="img-responsive hidden-xs" alt="A screen shot of Sentimental">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-globe" aria-hidden="true"></i> <strong><a href="http://sentimentalweb.azurewebsites.net/">SentimentalWeb.Azurewebsites.net</a></strong> A live website you can use to analyze text</li>
                    <li><i class="fa fa-lg fa-file-excel-o" aria-hidden="true"></i> <strong><a href="https://store.office.com/sentimental-WA104379510.aspx">Sentimental Office Add-in</a></strong> A live Office add-in that you can use to do text analysis within Office</li>
                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/SentimentalWeb">SentimentalWeb GitHub</a></strong> The GitHub repository containing the source code behind the Sentimentalweb site</li>
                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/Sentimental">Sentimental GitHub</a></strong> The GitHub repository containing the source code behind the Sentimental Office Add-in</li>
                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Hybrid-Apps">Hybrid Apps</a></strong> Web hack Wednesday. Martin and Martin Look at Hybrid apps converting a website into an app using a tool called manifoldjs.</li>
                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://vimeo.com/154970773">NDC London 2016 Hybrid Apps</a></strong> A recording from an NDC London talk where the Sentimental website is used to explore hybrid apps</li>
                    <li><i class="fa fa-lg fa-television" aria-hidden="true"></i> <strong><a href="https://onedrive.live.com/redir?resid=999BE3B43DB18398!1804797&authkey=!AMYYW6ATyCLsCPE&ithint=file%2cpptx">Hybrid Apps Slides</a></strong> Slides from MSWebDay where the Sentimental website is used to explore hybrid apps</li>
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/01/14/everything-you-need-to-know-about-hybrid-apps/">Everything you need to know about Hybrid Apps</a></strong> An article which talks about the hybrid web applications</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid blue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Machine Learning for Muggles</h2>
                <p>Machine Learning can seem like a deeply scientific and complex subject, but it is not and just about every software developers can use Machine Learning and Cognitive Services to make their applications smarter.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/MachineLearningMuggles.png" class="img-responsive hidden-xs" alt="Machine Learning is for muggles too">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/03/01/machine-learning-is-for-muggles-too/">Machine Learning is for Muggles too!</a></strong> An article which talks about the basics of Machine Learning and introduces Microsoft Cognitive Services</li>
                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Machine-Learning-for-Muggles">Machine Learning for Muggles</a></strong> Web hack Wednesday. Martin and Martin look into Machine learning for web developers (and muggles).</li>
                    <li><i class="fa fa-lg fa-television" aria-hidden="true"></i> <strong><a href="https://onedrive.live.com/redir?resid=999BE3B43DB18398!1903265&authkey=!AIqyKYLegQIu2lU&ithint=file%2cpptx">Machine Learning for muggles Slides</a></strong> Slides from MSWebDay which discusses Machine Learning and Cognitive Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid teal-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Smart Thumbnails with Computer Vision and Azure Functions</h2>
                <p>Using the Cognitive Services Computer Vision API and Azure Function we can create a very slick way fo creating image thumbnails.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/SmartThumbnails.png" class="img-responsive hidden-xs" alt="Smart Thumbnails with Computer Vision and Azure Functions">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/05/03/using-the-microsoft-cognitive-computer-vision-api-in-c-and-javascript/">Generating thumbnails with the Cognitive Services Computer Vision API in C# and JavaScript</a></strong> An article which talks about using the Microsoft Cognitive Services Computer Vision API to create smart thumbnails</li>
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/05/06/smart-image-re-sizing-with-azure-functions-and-cognitive-services/">Smart image re-sizing with Azure Functions and Cognitive Services</a></strong> An article which talks about using the Microsoft Cognitive Services Computer Vision API with Azure Functions to create smart thumbnails</li>
                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/Cognitive-Computer-Vision-Thumbnails-Sample">Cognitive-Computer-Vision-Thumbnails-Sample GitHub</a></strong> A sample app that show how to use the Cognitive Services Computer Vision API to generate smart thumbnails focused on the area of interest</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid lightblue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Better Parenting with Emotion API</h2>
                <p>The Cognitive Services Emotion API enables you to work out what emotions are being shown i your three-year-old daughter's expression.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/Emotion.png" class="img-responsive hidden-xs" alt="Better Parenting with Emotion API">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/03/07/using-the-project-oxford-emotion-api-in-c-and-javascript/">Using the Project Oxford Emotion API in C# and JavaScript</a></strong> An article which talks about using the Microsoft Cognitive Services Emotion API in C# and JavaScript</li>
                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/Project-Oxford-Emotion-API-sample">Project-Oxford-Emotion-API-sample GitHub</a></strong> A sample for working with the Cognitive Services Emotion API in C# and JavaScript</li>
                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Machine-Learning-for-Muggles">Machine Learning for Muggles</a></strong> Web hack Wednesday. Martin and Martin look into Machine learning for web developers (and muggles).</li>
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/03/01/machine-learning-is-for-muggles-too/">Machine Learning is for Muggles too!</a></strong> An article which talks about the basics of Machine Learning and introduces Microsoft Cognitive Services</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid copper-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Telling the time with ASP.NET Tag Helpers</h2>
                <p>Tag helpers make your ASP.NET razor code nicer to look at and work with. These examples show creation of an EPOCH time conversion Tag Helper</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/ewok.png" class="img-responsive hidden-xs" alt="Telling the time with ASP.NET Tag Helpers">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/04/27/telling-the-time-with-asp-net-tag-helpers/">Telling the time with ASP.Net Tag Helpers</a></strong> An article which talks about using the ASP.NET Tag Helpers to convert EPOCH date to human readable strings</li>
                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/EpochTagHelper">EpochTagHelper GitHub</a></strong> A simple ASP.Net tag helper that converts EPOCH date/time strings to human readable date/time strings</li>
                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Tag-Helpers-in-ASPNet-Core">Tag Helpers in ASP.Net Core</a></strong> Web Hack Wednesday. This week Martin and Martin look into Tag Helpers a new feature in Razor views inside of ASP.net Core. They build a basic tag helper and consume it from within an ASP.Net Core project.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid darkorange-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Web Performance and Tuning</h2>
                <p>Tips and tricks for how to squeeze every last drop of performance out of your web application</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/performance.jpg" class="img-responsive hidden-xs" alt="Telling the time with ASP.NET Tag Helpers">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2015/01/29/tune-modernise-and-optimise-your-website/">Tune, modernise and optimise your website</a></strong> An article which talks about tuning, modernising and optimising your web application</li>
                    
                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/Web-Performance-and-Compatibility-Lab">Web-Performance-and-Compatibility-Lab  GitHub</a></strong> A lab for checking and fixing modern web interoperability issues on a simple front-end website. The lab looks at Microsoft Edge specifically but the principles applies to interoperability and compatibility with all modern browsers. The lab also features an exercise on improving front-end performance.</li>
                    
                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Web-Performance">Web Performance</a></strong> Web Hack Wednesday. Martin and Martin look at Web performance and how to make websites faster.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid violet-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>JavaScript Task Runners and Gulp</h2>
                <p>JavaScript task runners automate build processes in web applications. To the uninitiated, the idea of writing JavaScript to manage your build can be an odd concept, but it is actually very simple</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/JSTaskRunners.png" class="img-responsive hidden-xs" alt="JavaScript Task Runners and Gulp">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2015/06/29/using-bower-and-gulp-with-asp-net-5-0/">Using Bower and Gulp with ASP.net 5.0</a></strong> An article which talks about using Bower and Gulp in ASP.NET Core</li>

                    <li><i class="fa fa-lg fa-television" aria-hidden="true"></i> <strong><a href="https://onedrive.live.com/redir?resid=999BE3B43DB18398!1668241&authkey=!AHRPv4xp2nmAQo4&ithint=file%2cpptx">Building with JavaScript Task Runners Slides</a></strong> Slides from MSWebDay which discusses JavaScript task runners in general and focus on Gulp with ASP.NET Core</li>

                    <li><i class="fa fa-lg fa-flask" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/Gulp-HTML-Lab">Gulp-HTML-Lab GitHub Lab</a></strong> A lab that shows how to add Gulp with some common plug-ins to a simple HTML website using Visual Studio Code</li>

                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Gulp">Gulp</a></strong> Web Hack Wednesday. Martin and Martin look into Gulp a JavaScript task runner that's used in many web frameworks including ASP.NET to automate build tasks.</li>

                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Gulp-Web-Standards-Plugin">Gulp Web Standards Plugin</a></strong> Web Hack Wednesday. In this week's episode Martin and Martin take a look at the Gulp-webstandards plugin built by Rami Sayer and team from Microsoft Canada.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid sage-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>REST and ASP.NET Web API</h2>
                <p>Use of REST APIs is a key pattern for building modern, scalable, well architected sites and apps. These resources look at ASP.NET Web API and RES APIs in general</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/APIArchitecture.png" class="img-responsive hidden-xs" alt="JavaScript Task Runners and Gulp">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2015/01/05/introduction-to-rest-and-net-web-api/">Introduction to REST and .net Web API</a></strong> An article which talks about an introduction to REST and ASP.NET Web API</li>

                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2015/03/25/securing-and-securely-calling-web-api-and-authorize/">Securing and securely calling Web API and [Authorize]</a></strong> An article which talks about how to work with secure ASP.NET Web APIs</li>

                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2015/03/10/using-odata-query-syntax-with-web-api/">Using OData query syntax with Web API</a></strong> An article which talks about how to work with ODATA query syntax with ASP.NET Web APIs</li>

                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2015/05/22/get-started-with-azure-logic-apps-and-your-own-api-app-in-5-minutes/">Get started with Azure Logic apps and your own API App in 5 minutes</a></strong> An article which talks about how to use Azure Logic Apps and API apps with your own API</li>

                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/03/08/using-the-stack-overflow-api-in-asp-net-core-1-0/">Using the Stack Overflow API in ASP.NET Core 1.0</a></strong> An article which talks about how to using the Stack Overflow API in ASP.NET core</li>

                    <li><i class="fa fa-lg fa-television" aria-hidden="true"></i> <strong><a href="https://onedrive.live.com/redir?resid=999BE3B43DB18398!1668242&authkey=!AJDfmQEfjb_hGpY&ithint=file%2cpptx">APIs: The cogs behind the machines</a></strong> Slides from MSWebDay which discusses ASP.NET Web API</li>

                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/SecureWebAPIExample">SecureWebAPIExample GitHub</a></strong> A repository that shows how to work with a secure ASP.NET 4.x web api</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid blue-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Running web applications in Azure</h2>
                <p>Azure Web App Service has a load of great features for running web applications.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/Clouds.jpg" class="img-responsive hidden-xs" alt="JavaScript Task Runners and Gulp">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-television" aria-hidden="true"></i> <strong><a href="https://onedrive.live.com/redir?resid=999BE3B43DB18398!1859346&authkey=!AALwfM2CpQZetpA&ithint=file%2cpptx">DevOps in Azure</a></strong> Slides from MSWebDay which discusses Azure App Services deployment, management and scale</li>

                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2014/12/16/how-to-create-and-publish-a-website-to-azure-in-less-than-3-minutes/">How To: Create and publish a website to Azure in less than 3 minutes</a></strong> An article which talks about publishing to Azure</li>

                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2015/03/09/change-the-database-for-entity-framework-to-azure-database/">Change the database for Entity Framework to Azure Database</a></strong> An article which talks about working with entity framework and azure</li>

                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2015/10/09/using-app-settings-in-azure-web-apps/">Using App Settings in Azure Web Apps</a></strong> An article which talks about using app settings in Azure</li>

                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Scale-a-Web-App-Using-Azure-Scale-Out">Scale a Web App Using Azure Scale Out</a></strong> Web Hack Wednesday. Martin and Martin look into how you can set Azure up to automatically scale out your web application when load increases.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid orange-background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Office Development</h2>
                <p>Did you know that Office has an app store? It does and it is very easy to build powerful 'add-ins' for both Office and SharePoint built on web technologies.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs">
                <img src="~/images/Office.jpg" class="img-responsive hidden-xs" alt="Office Development">
            </div>
            <div class="col-md-8">
                <ul class="list-unstyled">
                    <li><i class="fa fa-lg fa-television" aria-hidden="true"></i> <strong><a href="https://onedrive.live.com/redir?resid=999BE3B43DB18398!1789832&authkey=!AHLqH8MZFFAwm4w&ithint=file%2cpptx">Intro to Office Apps</a></strong> Slides from the AppsWorld 2015 conference. Introduces the Office developer landcape</li>

                    <li><i class="fa fa-lg fa-file-excel-o" aria-hidden="true"></i> <strong><a href="https://store.office.com/sentimental-WA104379510.aspx">Sentimental Office Add-in</a></strong> A live Office add-in that you can use to do text analysis within Office</li>

                    <li><i class="fa fa-lg fa-video-camera" aria-hidden="true"></i> <strong><a href="https://channel9.msdn.com/Shows/Web-Hack-Wednesday/Office-Add-ins">Office Add-ins</a></strong> Web Hack Wednesday. Martin and Martin take a look at how to use your web skills to build office Add-ins.</li>

                    <li><i class="fa fa-lg fa-github" aria-hidden="true"></i> <strong><a href="https://github.com/martinkearn/Sentimental">Sentimental GitHub</a></strong> The GitHub repository containing the source code behind the Sentimental Office Add-in</li>

                    <li><i class="fa fa-lg fa-wordpress" aria-hidden="true"></i> <strong><a href="https://blogs.msdn.microsoft.com/martinkearn/2016/02/03/is-office-the-ultimate-app-platform/">Is Office the ultimate app platform?</a></strong> An article which discusses the possibility of Office being the ultimate app platform</li>
                </ul>
            </div>
        </div>
    </div>
</div>
